<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>More details</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>More details</h1>
    <form action="/details/<%= modelId %>" method="POST">
        <table class = "model-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price (ETH)</th>
                    <th>Rating</th>
                    <th>File</th>
                </tr>
            </thead>
            <tr>
                <td><%= name %></td>
            <td><%= description %></td>
            <td><%= price %></td>
            <td><%= averageRating %></td>
            <td><a href="/download/<%= file.id %>">Download File</a></td>
        
            </tr>
        </table>
    </form>
    <a href='/index'>
        <img class = "back" src = "/next.png">
    </a>
</body>
</html>